.admin{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 350px 1fr;
}
.admin__sidebar{
    height: 100%;
    background-color: rgb(5, 21, 40);
    padding: 30px;
    color: #fff;
}
.admin__content{
    padding: 30px;
    height: 100%;
    overflow: auto;
}
.admin__item{
    list-style: none;
}
.admin__collections{
    line-height: 2;
}
.admin__item a{
    text-decoration: none;
    color: dodgerblue;
}
.admin__btn{
    padding: 10px 30px;
    margin-top: 10px;
    border-radius: 5px;
}
.admin__btn:hover{
    background: none;
    color: #fff;
    border: 2px solid #fff;
}
